---
import '../styles/global.css';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<slot name="head" />
	</head>
	<body class="bg-slate-900 text-slate-100">
		<slot />
	</body>
</html>